app-options-group{
  display: flex;
  flex-direction: column;
  background: white;
  flex-shrink: 0;

  & .options-group {
    display: flex;
    flex-direction: column;
    padding: 0 0.5rem;
  }

  & .group-label {
    padding: 0.3rem 0.5rem;
  }

  & .non-group {
    padding: 0;
  }
}
