@import "~bootstrap/scss/mixins";

$table-border-color: #dedfdf;

app-filter-container {
  display: block;
  padding: 15px;
  border-bottom: 1px solid $table-border-color;
  background: #ffffff;
  display: flex;
  flex-direction: row;

  .btn {
    flex: 0;
  }

  .filter-container {
    flex: 1;
    display: flex;
    flex-direction: row;
    & > * {
        margin-top: 0;
        margin-left: 0;
        margin-bottom: 0;
        margin-right: .5rem;
    }
  }

  [filterMessage] {
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    .btn-group {
      margin-left: .5rem;
    }
  }
}


.space-between {
  justify-content: space-between;
}
