<div class="filter-container" [class.space-between]="spaceBetween">
  <ng-content></ng-content>
  <ng-content class="filter-title" select="[filterMessage]"></ng-content>
  <ng-container #container></ng-container>
</div>
<button class="btn btn-primary" (click)="clear($event)" *ngIf="filterChanged">Clear Filter</button>
