<ng-container *ngTemplateOutlet="template || defaultNotification;
  context: {title: title, message: message, notificationRef: notificationRef}">

</ng-container>


<ng-template #defaultNotification>
  <div>
    <div>{{title}}</div>
    <div>{{message}}</div>
  </div>
  <button (click)="notificationRef.close()">close</button>
</ng-template>
