app-checkbox {
  input {
    display: none;
  }
  label {
    display: flex;
    align-items: center;

    color: #3d474b;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0;
  }

  svg {
    width: 20px;
    height: 20px;
  }

  .svg-wrapper {
    font-size: 0;
    display: flex;
  }

  &:hover {
    .checkbox-wrapper {
      stroke: #00A7E1;
    }
  }
  .checkbox-wrapper {
    stroke: #dedfdf;
    transition: all ease .3s;
  }

  .checkbox-mark {
    opacity: 0;
    transform-origin: 50% 50%;
    transform: scale(0);
    transition: all ease .3s;
  }
  .active {
    .checkbox-wrapper {
      stroke: #00A7E1;
    }
    .checkbox-mark {
      opacity: 1;
      transform-origin: 50% 50%;
      transform: scale(1);
    }
  }

  .disabled{
    cursor: not-allowed;
    fill: #90a2a9;
    .checkbox-wrapper {
      stroke: #90a2a9;
    }
  }
}
