.app-data-table {
  display: block;
}

.app-row, .app-header-row {
  display: flex;
  border-bottom: 1px solid #dedfdf;
  align-items: center;
  min-height: 48px;
  padding: 0 0;
}


.app-cell, .app-header-cell {
  flex: 1;
  overflow: hidden;
  word-wrap: break-word;
  padding: 18px;
}

.app-header-row {
  background: white;
}

.app-header-cell {
  color: black;
  font-size: 1rem;
  font-weight: 600;
  & > span {
    position: relative;
    //box-shadow: 0 6px 11px 1px rgba(0, 0, 0, 0.32);
  }
}

.app-row {
  border-bottom: 0;
  background: #fff;
  &:nth-child(2n+1) {
    background: #f9f9f9;
  }
  &:not(:last-child) {
    border-bottom: 1px solid #dedfdf;
  }
}

.app-column-actions {
  max-width: 80px;
  &.app-cell {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0;
    .icon-edit {
      margin-right: .5rem;
    }
  }
}
