<div class="view-wrap" [class.view-wrap--column]="labelColumn">
  <label>
    <ng-content select="app-label"></ng-content>
  </label>
  <div class="input-field">
    <div class="input-wrap">
      <ng-content class="input"></ng-content>
      <ng-content select="app-affix"></ng-content>
      <ng-content select="app-placeholder"></ng-content>
    </div>
    <app-error *ngIf="availableCustom.indexOf('required') === -1" key="required">This field is required</app-error>
    <app-error *ngIf="availableCustom.indexOf('minlength') === -1" key="minlength">This field is too short</app-error>
    <app-error *ngIf="availableCustom.indexOf('maxlength') === -1" key="maxlength">This field is too long</app-error>
    <app-error *ngIf="availableCustom.indexOf('pattern') === -1" key="pattern">Invalid Field</app-error>
    <app-error *ngIf="availableCustom.indexOf('email') === -1" key="email">Invalid Email Address</app-error>
    <ng-content select="app-error"></ng-content>
    <ng-content select="app-server-error"></ng-content>
  </div>
</div>
<ng-content select="app-hint"></ng-content>


