<input [ngStyle]="{'padding-left.px': inputPaddingLeft, 'padding-right.px': inputPaddingRight}"
       type="text" #input
       [formControl]="typeaheadControl"
       class="form-control"
       (click)="onTouched()">
<span class="clear" (click)="resetValue()" *ngIf="typeaheadControl.value">
  <i class="fas fa-times"></i>
</span>
<div class="typeahead__list">
  <div class="typeahead__list-items" *ngIf="showDropdown">
    <ng-container *ngTemplateOutlet="template || default; context: {options: results}"></ng-container>
  </div>
</div>

<ng-template #default>
  <app-option [value]="option.value" *ngFor="let option of results">{{option.label}}</app-option>
  <app-option *ngIf="results?.length === 0">Nothing Founded</app-option>
</ng-template>
