<ng-content select="app-filter-container"></ng-content>
<div class="meta-block" *ngIf="meta">
  <ng-container *ngTemplateOutlet="metaTemplate || metaDefault; context: {meta: meta }"></ng-container>
</div>
<ng-content></ng-content>
<div class="next-page" *ngIf="ds?.hasNext()">
  <div class="btn btn-secondary" (click)="ds?.loadNext()">Load More</div>
</div>

<ng-template #metaDefault let-meta="meta">
  <div class="meta-pages" *ngIf="meta">Showing {{(meta?.visible)}} out of {{meta?.total}}</div>
</ng-template>

<div class="no-content" *ngIf="ds?.metaSync?.total === 0">
  <ng-content select=".no-table-content"></ng-content>
</div>
