@import "~bootstrap/scss/mixins";

$table-border-color: #dedfdf;

app-table-wrapper {
  display: block;
  border: 1px solid $table-border-color;
  position: relative;

  .next-page {
    border-top: 1px solid $table-border-color;
    padding: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    //.btn {
    //  @include button-variant(#90a2a9, #90a2a9);
    //  color: #ffffff;
    //}
  }

  .meta-block {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 15px;
    //background: #fff url('/assets/img/table-pattern.png');
    border-bottom: 1px solid $table-border-color;
    //@include media-breakpoint-down('sm') {
    //  flex-direction: column;
    //  align-items: flex-start;
    //}
  }

  .meta-pages {
    color: black;
    font-size: 1.143rem;
    font-weight: 600;
  }

  .meta-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    //@include media-breakpoint-down('sm') {
    //  margin-left: 0;
    //}
  }


  .no-table-content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 400px;
  }

  .empty-state {
    font-size: 1.714rem;
    font-weight: 400;
    line-height: 2.143rem;
  }
}
