<app-table-wrapper>
  <app-filter-container [spaceBetween]="true">
    <ng-container *appFilter="'q'; let f">
      <div class="table-search">
        <label for="users-search" class="table-search__label">Search: </label>
        <input id="users-search" class="form-control table-search__input" type="text" name="q" [formControl]="f.control">
      </div>
    </ng-container>
  </app-filter-container>
  <app-data-table [dataSource]="ds" appSort #sort="appSort">
    <ng-container appColumnDef="id">
      <app-header-cell *appHeaderCellDef app-sort-header class="users-names"><span>ID</span></app-header-cell>
      <app-cell *appCellDef="let row" class="users-names"> {{row?.id}}</app-cell>
    </ng-container>
    <ng-container appColumnDef="title">
      <app-header-cell *appHeaderCellDef app-sort-header> Title </app-header-cell>
      <app-cell *appCellDef="let row"> {{row?.title}}</app-cell>
    </ng-container>
    <ng-container appColumnDef="price">
      <app-header-cell *appHeaderCellDef app-sort-header> Price </app-header-cell>
      <app-cell *appCellDef="let row"> {{row?.price}}</app-cell>
    </ng-container>
    <app-header-row
      *appHeaderRowDef="columns"></app-header-row>
    <app-row
      *appRowDef="let row; columns: columns"></app-row>
  </app-data-table>
</app-table-wrapper>
<a routerLink="/products">Products</a>
