<div class="sort-header-container"
     [class.mat-sort-header-position-before]="arrowPosition == 'before'">
  <button class="sort-header-button" type="button"
          [attr.disabled]="_isDisabled() || null">
    <ng-content></ng-content>
  </button>

  <div *ngIf="_isSorted()" class="sort-header-arrow">
    <div class="sort-header-arrow-item" [@directionToggle]="_sort.direction"></div>
  </div>
</div>
