<div class="list">
  <app-products-list>
    <app-products-item [product]="book" *ngFor="let book of books$ | async" [routerLink]="book?.id">
    </app-products-item>
  </app-products-list>
</div>
<div class="details">
  <router-outlet></router-outlet>
</div>
