<h1>Products</h1>
<p>Please select category</p>
<div class="categories">
  <div class="categories__item categories__item--books"
  routerLink="books">
    Books
  </div>
  <div class="categories__item categories__item--magazines"
  routerLink="posters">
    Posters
  </div>
</div>
<button (click)="openNotification()">Notification</button>
<router-outlet></router-outlet>
