.categories {
  display: flex;
  justify-content: space-around;
  &__item {
    display: flex;
    flex-grow: 1;
    height: 200px;
    justify-content: center;
    align-items: center;
    margin: 0 15px;
    cursor: pointer;
    &--books {
      background: bisque;
    }
    &--magazines {
      background: darkcyan;
    }
  }
}
